OPENROUTER_API_KEY=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
NEON_DATABASE_URL=postgresql://neondb_owner:npg_iEc9aJjzK0dv@ep-solitary-river-a4ner6gi-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
API_FOOTBALL_KEY=92795f711889bbb8bb2abccbb84d6697
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=
UPSTASH_KAFKA_URL=
UPSTASH_KAFKA_USERNAME=
UPSTASH_KAFKA_PASSWORD=
SENTRY_DSN=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
TAVILY_API_KEY=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
NANO_BANANA_API_KEY=AIzaSyD7UdSncF_gX5knO4smcOPPtb3ePM0nXvo
X_CLIENT_ID=Wi0yNEdQQW1WTkNlUnhOQjRzaTA6MTpjaQ
X_CLIENT_SECRET=2IRJI06G7IWqvHQyUlRrsxOXojyATfE-izc864qUMeEP4lfGlC
X_REDIRECT_URI=https://www.jorshimayor.is-a.dev
OTLP_ENDPOINT=
